h3
{
    font-size: 25px;
}
.btn-success:hover
{
   background-color: red;
   color: yellow; 
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes example {
    from {box-shadow: 1px 1px 100px rgb(0, 162, 255);}
    to {box-shadow: 1px 1px 100px rgb(255, 0, 200);}
}